.change_theme button{
    background: #ccc;
    border: none;
    border-radius: 0.4rem;
    padding: 0.6rem;
    transition: all 400ms;
}

.change_theme button:hover{
    background: #b8b8b8;
}

@media only screen and (max-width: 400px) {
    .change_theme {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        width: 100%;
    }
}