.container {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    margin: 1rem 0;
    width: 80%;
}

.container> :first-child {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.container> :nth-child(2) {
    display: flex;
    gap: 0.5rem;
    width: 30%;
}

.container button {
    background: none;
    border: none;
    color: #40025c;
    font-size: 1.2rem;
}

.volume {
    accent-color: #44017c;
    display: none;
    width: 100px;
}

.volume_visible {
    display: block;
}

.container button.dark_theme{
    color: #ddc9fd;
}

@media only screen and (max-width: 400px) {
    .container {
        align-items: center;
        flex-direction: column;
        gap: 1.2rem;
        justify-content: space-around;
        margin: 0.6rem 0;
        width: 100%;
    }

    .container> :first-child {
        display: flex;
        justify-content: space-around;
        width: 80%;
    }

    .container> :nth-child(2) {
        display: flex;
        gap: 0.5rem;
        height: 2rem;
        margin-bottom: 1rem;
        width: 20%;
    }

    .container button {
        font-size: 1.6rem;
    }
}