.container {
    display: flex;
    gap: 1rem;
    height: 50px;
    justify-content: space-evenly;
    margin: 1rem 0;
    width: 80%;
}

.container> :first-child {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.container> :nth-child(2) {
    display: flex;
    gap: 0.5rem;
    width: 30%;
}

.container button {
    background: none;
    border: none;
    color: #40025c;
    font-size: 1.2rem;
}

.volume {
    accent-color: #44017c;
    display: none;
    width: 100px;
}

.volume_visible {
    display: block;
}

.auto_play_on svg{
    fill: lightgreen;
}