.header {
    align-items: center;
    background: #f6f6f6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
    display: flex;
    height: 120px;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
}

.header > :first-child{
    width: 30%;
}

.header img {
    height: 120px;
    width: 250px;
}

.dark_theme{
    background: #535353;
}

.header img.dark_theme_img {
    height: 120px;
    width: 280px;
}

@media only screen and (max-width: 400px){
    .header{
        flex-direction: column;
        height: initial;
        justify-content: center;
    }
    
    .header > :first-child{
        width: 100%;
    }
    
    .header :nth-child(3){
        width: 80%;
    }
}