.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.display {
    align-items: center;
    display: flex;
    border-radius: 50%;
    height: 150px;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;
    transition: 400ms;
    overflow: hidden;
    width: 150px;
}

.display img {
    height: 200px;
    left: -8.6px;
    position: relative;
    top: -4px;
    width: 200px;
}

.is_playing::before {
    animation: rotation 2s infinite linear;
    content: '';
    background-image: conic-gradient(#4a006c 45deg,
            #af2eeb 90deg,
            transparent 180deg);
    color: blueviolet;
    height: 120%;
    position: absolute;
    transition: 0.5s;
    width: 120%;
}

.display.is_playing {
    border: none;
}

.display:hover {
    transform: translateY(-5px);
}

.display_data {
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 1.6rem;
}

.display_data span {
    font-size: 0.8rem;
}

.dark_theme span{
    color: #ddc9fd;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.is_playing::after {
    border-radius: 50%;
    content: '';
    height: 120%;
    position: absolute;
    width: 120%;
    z-index: 1;
}