.container {
    background: #f4fcff; 
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: calc(100vh - 120px);
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
}

.player {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.buttons button[type="button"] {
    align-items: center;
    background-image: linear-gradient(to top, #220130, #2a033e, #33034d, #3c025d, #45026d, #53067e, #610b8f, #6f10a1, #871ab7, #a023cc, #b92ce2, #d435f8);
    border: none;
    border-radius: 0.6rem;
    color: #fff;
    display: flex;
    font-size: 0.65rem;
    gap: 0.5rem;
    justify-content: center;
    padding: 0.2rem;
    transition: all ease 400ms;
    width: 200px;
}

.buttons button[type="button"]:hover {
    transform: scale(1.03);
}

.play_list{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}